// 单选下拉框
.selector-wrapper {
    width: 100%;
    .drop-header {
        position: relative;
        z-index: 1;
        cursor: pointer;
        input {
            box-sizing: border-box;
            border-radius: 4px;
            cursor: pointer;
            outline: none;
            width: 100%;
            border: .5px solid #7F9FFF;
            font-size: 14px;
            height: 0.34rem;
            line-height: 0.28rem;
            padding: 7px 12px;
            transition: border .3s;
            background-color: #FFF;
            color: #767676;
            &::-webkit-input-placeholder {
                color: #767676;
            }
            &:hover {
                border: .5px solid #7297ff;
            }
        }
        .dropdown-select-icon {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 8px;
            margin-top: -8px;
            transform: rotate(90deg);
            transition: all .3s;
            color: #7F9FFF;
            font-weight: bold;
            &.active {
                border-width: 0 5px 5px 5px;
                border-color: transparent transparent #999999 transparent;
            }
        }
        .dropdown-search-icon {
            width: 12px;
            height: 12px;
            display: inline-block;
            position: absolute;
            top: 11px;
            right: 20px;
        }
        .check-close {
            position: absolute;
            right: 0;
            top: 6px;
            margin-right: 5px;
        }
    }
    .drop-main-selector {
        box-sizing: border-box;
        border: .5px solid #DBDBDB;
        border-radius: 2px;
        transition: border .3s;
        width: 100%;
        background-color: #F8F8F8;
        z-index: 2 !important;
        max-height: 200px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 4px;
            height: 1px;
        }
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
            background-color: #CCCCCC;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
            background-color: #EDEDED;
        }
        &.active {
            visibility: visible;
        }
        &.hide {
            visibility: hidden;
        }
        &:hover {
            border: .5px solid #7297ff;
        }
        .drop-empty-result {
            font-size: 14px;
            padding: 5px 10px;
        }
        .drop-list {
            padding: 0;
            margin: 0;
            background-color: #FFFFFF;
            li {
                list-style: none;
                cursor: pointer;
                padding: 8px 12px;
                font-size: 14px;
                transition: color .3s;
                color: #333333;
                line-height: 20px;
                &:hover {
                    color: #7297ff;
                    background-color: #F7FAFF;
                }
                &.selected {
                    color: #7297ff;
                    background-color: #F7FAFF;
                }
            }
        }
    }
}

.xcomponent-toggle {
    &.show {
        .dropdown-select-icon {
            transform: rotate(-90deg);
        }
    }
}