/**
 * name: 
 * desc:
 * date: 2018/11/12
 * author: kelvin
 */
// 单选下拉框
.input-selector-wrapper {
    width: 100%;
    position: relative;
    .drop-header {
        position: relative;
        z-index: 1;
        cursor: pointer;
        input {
            box-sizing: border-box;
            border-radius: 4px;
            cursor: pointer;
            outline: none;
            width: 100%;
            border: .5px solid #bbb;
            font-size: 14px;
            height: 0.28rem;
            line-height: 0.28rem;
            padding: 7px 12px;
            transition: border .3s;
            background-color: #FFF;
            color: #666;
            &::-webkit-input-placeholder {
                color: #333333;
            }
            &:hover {
                border: .5px solid #7297FF;
            }
        }

        .dropdown-select-icon {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 8px;
            margin-top: -8px;
            transform: rotate(90deg);
            transition: all .3s;
            color: #C6C8D1;
            font-weight: bold;
            &.active {
                border-width: 0 5px 5px 5px;
                border-color: transparent transparent #999999 transparent;
            }
        }

        .dropdown-search-icon {
            width: 12px;
            height: 12px;
            display: inline-block;
            position: absolute;
            top: 11px;
            right: 20px;
            // background-image: url('./imgs/icon@1x.png');
        }

        .check-close {
            position: absolute;
            right: 0;
            top: 6px;
            margin-right: 5px;
        }
    }

    .drop-main-selector {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        border: .5px solid #DBDBDB;
        border-radius: 2px;
        transition: border .3s;
        width: 100%;
        background-color: #F8F8F8;
        z-index: 2 !important;
        max-height: 200px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 4px;
            height: 1px;
        }
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
            background-color: #CCCCCC;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
            background-color: #EDEDED;
        }

        &.active {
            visibility: visible;
        }
        &.hide {
            visibility: hidden;
        }

        &:hover {
            border: .5px solid #7297FF;
        }

        .drop-empty-result {
            font-size: 14px;
            padding: 5px 10px;
        }

        .drop-list {
            padding: 0;
            margin: 0;
            background-color: #FFFFFF;
            li {
                list-style: none;
                cursor: pointer;
                padding: 8px 12px;
                font-size: 14px;
                transition: color .3s;
                color: #333333;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:hover {
                    & > .label {
                        color: #7297FF;
                    }
                    background-color: #F7FAFF;
                }
                &.selected {
                    & > .label {
                        color: #7297FF;
                    }
                    background-color: #F7FAFF;
                }
                .delete-icon {
                    &:hover {
                        color: red;
                    }
                }

            }
        }

        .input-box {
            padding: 10px;
            background-color: #FFFFFF;
            border-top: 1px solid #dddddd;
        }
    }
}

.xcomponent-toggle {
    &.show {
        .dropdown-select-icon {
            transform: rotate(-90deg);
        }
    }
}