.b-month-picker{
    &-header{
        padding: 9px 12px;
        border-bottom: .5px solid #ddd;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        .rayricon{
            cursor: pointer;
        }
        .rayricon-angle-left{
            margin-right: 40px;
        }
        .rayricon-angle-right{
            margin-left: 40px;
        }
    }
    &-body{
        .month-item{
            display: inline-block;
            width: 33%;
            padding: 8px 0px;
            text-align: center;
            &.disable{
                cursor: not-allowed;
            }
            &>.text:hover{
                color: #fff;
                background-color: $hover-color;
                cursor: pointer;
            }
            .active{
                color: #fff;
                background-color: $theme-color;
            }
        }
    
        
    }
}