.CardContainer{
  width: 140px;
  height: auto;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #7F9FFF;
  display: inline-block;
  .imgContainer {
    width: 100%;
    height: auto;
    position: relative;
    .paddingLayout{
      width: 100%;
      padding-top: 100%;
    }
    .myImg{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #eee;
      // overflow: hidden;
      img{
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .imgAlt{
    width: 100%;
    height: auto;
  }
}