.student {
    &-header {
        display: flex;
        margin: .25rem 0;
        line-height: .34rem;
        .info {
            flex: 1;
        }
        .operate-info {
            display: flex;
            .item {
                margin: 0 .2rem;
            }
        }
    }
    .photo {
        width: 100px;
        height: 100px;
        background: red;
    }
}

.student-edit {
    .form-images {
        display: flex;
        width: 100%;
        line-height: .9rem;
        .name {
            width: 15%;
            display: inline-block;
            text-align: right;
            margin-right: 0.24rem;
        }
        .value {
            width: 60%;
            display: inline-block;
        }
        .x-image {
            border-radius: 5px;
            border: 1px solid #7f9fff;
        }
    }
    .form-item {
        width: 50%;
        display: inline-block;
        line-height: .5rem;
        .name {
            width: 30%;
            display: inline-block;
            text-align: right;
            margin-right: 0.24rem;
        }
        .value {
            width: 60%;
            display: inline-block;
            .drop-header {
                line-height: 0;
            }
        }
    }
}